#image1 {
    width: 100%;
    height: 60%;
    background-image: url(../img/chocolate-display.jpg);
    background-color: $mc-brown;
}

#image2 {
    width: 100%;
    height: 60%;
    background-image: url(../img/chocolates.jpg);
    background-color: $mc-brown;
}